<div class="bg-image">
  <span>
    <app-headers [isLoggedIn]="isLoggedIn" (isLogout)="isLogout()"></app-headers>
  </span>
  <span *appIf="!isLoggedIn">
    <app-login-form (loggedIn)="loggedIn()" ></app-login-form>
  </span>
  <div class="container container-fluid" *appIf="isLoggedIn && !addStudents">
    <div class="justify-content-center">
      <app-students [studentList]="studentList" (addStudent)="addStudent()" (editStudent)="editStudent($event)"
        (deleteStudent)="deleteRecord($event)"></app-students>
    </div>
  </div>
  <div class="container container-fluid" *appIf="addStudents">
    <div class="justify-content-center">
      <app-form (submit)="getStudent($event)" [student]="singleStudent"></app-form>
    </div>
  </div>
</div>